[project]
name = "dbt-fusion-package-tools"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.9"
dependencies = []

dynamic = ["version"]

[project.scripts]
dbt-fusion-package-tools = "dbt_fusion_package_tools:main"

[tool.uv]
package = true

[build-system]
requires = ["pdm-backend"]
build-backend = "pdm.backend"

[tool.pdm.version]
source = "scm"
version_format = "pdm_build:format_version"

[project.optional-dependencies]
test = [
    "pytest>=7.2.0",
    "pytest-cov>=4.1.0",
    "pre-commit>=4.2.0",
    "nox",
]
docs = [
    "pydocstyle>=6.3.0",
]