name: Run Pytest on PR

on:
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  contents: read

jobs:
  test:
    name: test on ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    continue-on-error: true
    timeout-minutes: 5
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]
    steps:
      - uses: actions/checkout@v4

      - uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: true
          cache-suffix: test

      - run: uv sync --all-extras --all-packages 
      - run: uv run pytest

  format:
    name: ruff format
    runs-on: ubuntu-latest
    continue-on-error: true
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v5
        with:
          python-version: "3.9"
          enable-cache: true
          cache-suffix: format
      - run: uv tool run ruff format --check --diff . --config pyproject.toml